<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>59182831756-gnuk3ljpcqcj6uihs3pd6uber51p6j2p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.59182831756-gnuk3ljpcqcj6uihs3pd6uber51p6j2p</string>
	<key>API_KEY</key>
	<string>AIzaSyB9Yc88QjEinGJf2YOSbitbwfwzwqwHtSE</string>
	<key>GCM_SENDER_ID</key>
	<string>59182831756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.oregonstate.bochansz.wasteagram</string>
	<key>PROJECT_ID</key>
	<string>wasteagram-328c0</string>
	<key>STORAGE_BUCKET</key>
	<string>wasteagram-328c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:59182831756:ios:82ce77ee4af33433a603a9</string>
</dict>
</plist>